

<html lang="en"><head><meta charSet="utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge"/><meta name="viewport" content="width=device-width, initial-scale=1"/><title>Relive | Your Outdoor 3D Videos</title><meta name="description" content="Relive and share your outdoor adventures. With Relive, you can turn your activities into 3D videos."/><link rel="canonical" href="https://www.relive.cc?hl=en"/><link rel="alternate" hrefLang="cs" href="https://www.relive.cc?hl=cs"/><link rel="alternate" hrefLang="da" href="https://www.relive.cc?hl=da"/><link rel="alternate" hrefLang="de" href="https://www.relive.cc?hl=de"/><link rel="alternate" hrefLang="en" href="https://www.relive.cc?hl=en"/><link rel="alternate" hrefLang="es" href="https://www.relive.cc?hl=es"/><link rel="alternate" hrefLang="fr" href="https://www.relive.cc?hl=fr"/><link rel="alternate" hrefLang="it" href="https://www.relive.cc?hl=it"/><link rel="alternate" hrefLang="id" href="https://www.relive.cc?hl=id"/><link rel="alternate" hrefLang="nl" href="https://www.relive.cc?hl=nl"/><link rel="alternate" hrefLang="pl" href="https://www.relive.cc?hl=pl"/><link rel="alternate" hrefLang="pt-BR" href="https://www.relive.cc?hl=pt-BR"/><link rel="alternate" hrefLang="sv" href="https://www.relive.cc?hl=sv"/><link rel="alternate" hrefLang="th" href="https://www.relive.cc?hl=th"/><link rel="alternate" hrefLang="zh-CN" href="https://www.relive.cc?hl=zh-CN"/><link rel="alternate" hrefLang="zh-TW" href="https://www.relive.cc?hl=zh-TW"/><link rel="alternate" hrefLang="ko" href="https://www.relive.cc?hl=ko"/><link rel="alternate" hrefLang="ja" href="https://www.relive.cc?hl=ja"/><link rel="alternate" hrefLang="x-default" href="https://www.relive.cc"/><link rel="stylesheet" href="/styles/style.css?v=1559302266826" type="text/css"/><link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600|Source+Sans+Pro:300,400,500,600,700,800,900" rel="stylesheet"/><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/><link rel="icon" type="image/png" href="/images/icons/favicon_16x16.png?v=1506271937601" sizes="16x16"/><link rel="icon" type="image/png" href="/images/icons/favicon_32x32.png?v=1506271937601" sizes="32x32"/><link rel="apple-touch-icon" href="/images/icons/apple-touch-icon-120x120.png?v=1519896497844" sizes="120x120"/><link rel="apple-touch-icon" href="/images/icons/apple-touch-icon-180x180.png?v=1519896497844" sizes="180x180"/><link rel="icon" href="/images/icons/apple-touch-icon-120x120.png?v=1519896497844" sizes="120x120"/><link rel="icon" href="/images/icons/apple-touch-icon-180x180.png?v=1519896497844" sizes="180x180"/><meta property="fb:app_id" content="167223583672004"/><meta property="fb:pages" content="130565857348094"/><script>document.documentElement.setAttribute("data-browser", navigator.userAgent);</script><link href="/javascripts/videojs/video-js.min.css?v=1517408941327" rel="stylesheet" type="text/css"/><script src="/javascripts/videojs/video.min.js?v=1517408941331"></script><script src="/javascripts/video.js?v=1554884663108"></script></head><body class="content-page home"><header class="navbar navbar-home-page"><div class="navbar-content "><span><a href="/" class="logo"><img src="/images/logo/logo-word-white.svg?v=1506271937617" class="logo hidden-xs"/></a><a href="/" class="logo"><img src="/images/logo/logo-white.svg?v=1506271937617" class="logo visible-xs-inline"/></a></span><nav><ul><li><a href="/club" data-tclick="club|click|relive|nav">Club</a></li><li class="hidden-xs"><a href="/about">About</a></li><li><a href="/login?r=homenav" data-tclick="login|click|relive|nav">Log in</a></li><li class="primary hidden-xs"><a href="/signup?r=homenav" data-tclick="signup|click|relive|nav">Sign up</a></li></ul></nav></div></header><header class="invert home-header false"><div class="header-content"><a href="javascript:showVideoModal();" class="play-button"><img src="/images/buttons/btn-playvideo-white.png" srcSet="/images/buttons/btn-playvideo-white.png 1x, /images/buttons/btn-playvideo-white@2x.png 2x"/></a><h1>Relive <span class="light"> your outdoor adventures</span></h1><span class="subtitle">3D videos of your runs, rides, hikes &amp; more</span><div class="home-signup-buttons"><a href="/auth/strava" data-tclick="signup|click|strava" class="connect-btn btn-disable-on-click"><img src="/images/buttons/btn-strava.png" srcSet="/images/buttons/btn-strava.png 1x, /images/buttons/btn-strava@2x.png 2x" alt="Connect with Strava"/></a><a href="/signup?r=modal-runtastichome" data-tclick="signup|click|runtastic" class="btn-signup-modal connect-btn"><img src="/images/buttons/btn-runtastic-blue.png" srcSet="/images/buttons/btn-runtastic-blue.png 1x, /images/buttons/btn-runtastic-blue@2x.png 2x" alt="Connect with Runtastic"/></a><a href="/signup?r=modal-suuntohome" data-tclick="signup|click|suunto" class="btn-signup-modal connect-btn"><img src="/images/buttons/btn-suunto-white.png" srcSet="/images/buttons/btn-suunto-white.png 1x, /images/buttons/btn-suunto-white@2x.png 2x" alt="Connect with Suunto"/></a><a href="/signup?r=modal-garminhome" data-tclick="signup|click|garmin" class="btn-signup-modal connect-btn"><img src="/images/buttons/btn-garmin.png" srcSet="/images/buttons/btn-garmin.png 1x, /images/buttons/btn-garmin@2x.png 2x" alt="Connect with Garmin"/></a><a href="/signup?r=modal-endomondohome" data-tclick="signup|click|endomondo" class="btn-signup-modal connect-btn"><img src="/images/buttons/btn-endomondo.png" srcSet="/images/buttons/btn-endomondo.png 1x, /images/buttons/btn-endomondo@2x.png 2x" alt="Connect with Endomondo"/></a><a href="/signup?r=modal-underarmourhome" data-tclick="signup|click|underarmour" class="btn-signup-modal connect-btn"><img src="/images/buttons/btn-mmride.png" srcSet="/images/buttons/btn-mmride.png 1x, /images/buttons/btn-mmride@2x.png 2x" alt="Connect with MapMyRide"/></a><a href="/signup?r=modal-polarhome" data-tclick="signup|click|polar" class="btn-signup-modal connect-btn"><img src="/images/buttons/btn-polar.png" srcSet="/images/buttons/btn-polar.png 1x, /images/buttons/btn-polar@2x.png 2x" alt="Connect with Polar"/></a><a href="https://itunes.apple.com/app/relive-cycling/id1201703657?mt=8" target="_blank" data-tclick="signup|click|healthkit" class="connect-btn"><img src="/images/buttons/btn-healthkit.png" srcSet="/images/buttons/btn-healthkit.png 1x, /images/buttons/btn-healthkit@2x.png 2x" alt="Connect with Apple Health"/></a></div></div></header><section class="explore-block"><div class="content wide"><div class="explore-intro"><span>Explore Relive</span><img src="/images/product_blocks/img-arrow.png" class="arrow"/></div><div class="explore-block-content image-small image-on-side"><div class="halfscreen-image right"><div class="sideImage"><a><img src="/images/product_blocks/img-home1.jpg?v=1506271937617" srcSet="/images/product_blocks/img-home1.jpg?v=1506271937617 1x, /images/product_blocks/img-home1@2x.jpg?v=1506271937621 2x"/></a></div><div class="sideText"><h2>Share your adventure</h2><p>Relive turns your adventure into a personal video worth sharing. Fly over your route, see where you’ve been and view your highlights!</p><a href="/signup?r=home" data-tclick="signup|click||explore_block1_btn1" class="relive-btn-block relive-btn btn-invert btn-signup-modal">Get started!</a></div></div></div><div class="explore-block-content image-small image-on-side"><div class="halfscreen-image left"><div class="sideImage"><a><img src="/images/product_blocks/img-home2.jpg?v=1506271937621" srcSet="/images/product_blocks/img-home2.jpg?v=1506271937621 1x, /images/product_blocks/img-home2@2x.jpg?v=1506271937621 2x"/></a></div><div class="sideText"><h2>Show your Moments</h2><p>Give it your touch. We’ll add the photos you took to your video.</p><a href="/signup?r=home" data-tclick="signup|click||explore_block1_btn1" class="relive-btn-block relive-btn btn-invert btn-signup-modal">Get started!</a></div></div></div><div class="explore-block-content image-small image-on-side"><div class="halfscreen-image right"><div class="sideImage"><a><img src="/images/product_blocks/img-trackers.png?v=1557489933472" srcSet="/images/product_blocks/img-trackers.png?v=1557489933472 1x, /images/product_blocks/img-trackers@2x.png?v=1557489933472 2x"/></a></div><div class="sideText"><h2>No need to switch</h2><p>Relive works with Strava, Runtastic, Endomondo, Garmin Connect, Suunto, Apple Health (Watch), MapMyRun, MapMyWalk, MapMyRide, MapMyHike and Polar Flow.</p><a href="/signup?r=home" data-tclick="signup|click||explore_block1_btn1" class="relive-btn-block relive-btn btn-invert btn-signup-modal">Get started!</a></div></div></div></div></section><section class="love-to-relive invert text-center"><div class="content"><h1>Inspiring Millions</h1><p>We’re proud to see millions of people using Relive to share their passion for the outdoors; inspiring millions of others around the world. <a href="/about?r=inspire">Read our story ›</a></p><div class="stretch-mobile"><img src="/images/product_blocks/img-inspiring.png" srcSet="/images/product_blocks/img-inspiring.png 1x, /images/product_blocks/img-inspiring@2x.png 2x" class="hidden-xs"/><img src="/images/product_blocks/img-inspiring-mobile.png" srcSet="/images/product_blocks/img-inspiring-mobile.png 1x, /images/product_blocks/img-inspiring-mobile@2x.png 2x" class="visible-xs-inline"/></div><a href="/signup?r=home" data-tclick="signup|click||inspire_block2_btn" class="relive-btn-block relive-btn btn-signup-modal">Join us for free</a></div></section><div class="set-up content wide image-on-side"><div class="halfscreen-image left"><div class="sideImage"><a><img src="/images/product_blocks/img-setup.jpg?v=1506271937621" srcSet="/images/product_blocks/img-setup.jpg?v=1506271937621 1x, /images/product_blocks/img-setup@2x.jpg?v=1506271937621 2x"/></a></div><div class="sideText"><h1>Easy set up</h1><div class="set-up-item"><img src="/images/product_blocks/img-setup-signup.png"/><div><h2>Connect your tracker</h2><p><a href="/signup?r=home" data-tclick="signup|click||setup_block3_link" class="btn-signup-modal">Sign up</a> and connect your favorite tracker.</p></div></div><div class="set-up-item"><img src="/images/product_blocks/img-setup-goout.png"/><div><h2>Go out!</h2><p>Track your adventure with Strava, Runtastic, Endomondo, Garmin Connect, Suunto, Apple Health (Watch), MapMyRun, MapMyWalk, MapMyRide, MapMyHike or Polar Flow.</p></div></div><div class="set-up-item"><img src="/images/product_blocks/img-setup-videoplay.png"/><div><h2>Edit &amp; enjoy your video</h2><p>Add photos in the Relive app and enjoy your video some moments later!</p></div></div><a href="/signup?r=home" data-tclick="signup|click||setup_block3_btn" class="relive-btn-block relive-btn btn-invert btn-signup-modal">Get started!</a></div></div></div><section class="app-promo invert"><div class="content wide"><div class="halfscreen-image right"><div class="sideImage"><a><img src="/images/product_blocks/img-app.png?v=1506271937617" srcSet="/images/product_blocks/img-app.png?v=1506271937617 1x, /images/product_blocks/img-app@2x.png?v=1506271937617 2x"/></a></div><div class="sideText"><h1>Your adventures together!</h1><p>Explore your latest adventures and add the best ones to your Memories. The Relive app for Android and iPhone is out now!</p><div class="app-btns"><a href="https://itunes.apple.com/app/relive-cycling/id1201703657?mt=8" class="app-btn hide-android" target="_blank" data-tclick="app|download|ios|block4"><img src="/images/buttons/btn-appstore.png" srcSet="/images/buttons/btn-appstore.png 1x, /images/buttons/btn-appstore@2x.png 2x" alt="download from app store"/></a><a href="https://play.google.com/store/apps/details?id=cc.relive.reliveapp" class="app-btn hide-ios" target="_blank" data-tclick="app|download|android|block4"><img src="/images/buttons/btn-playstore.png" srcSet="/images/buttons/btn-playstore.png 1x, /images/buttons/btn-playstore@2x.png 2x" alt="download from play store"/></a></div></div></div></div></section><div class="modal video-modal hidden"><div class="modal-table table"><div class="modal-cell table-cell"><div class="modal-content"><div class="modal-header modal-header-only-mobile"><a href="/" class="logo"><img src="/images/logo/logo-yellow.svg?v=1506271937617"/></a><a href="#" class="modal-close"></a></div><video id="app-promo-video" class="video-js vjs-big-play-centered" controls=""><source src="//assets.relive.cc/relive_demo.mp4?x-ref=demo" type="video/mp4"/></video><script>setupVideo('app-promo-video', '//assets.relive.cc/relive_demo.mp4?x-ref=demo', '//video.relive.cc/strava_447820220_1491844916981.png?x-ref=demo', false, 'auto');</script><div class="home-signup-buttons visible-xs"><h2 class="visible-xs">Free videos of your activities 🎉</h2><a href="/auth/strava" data-tclick="signup|click|strava|homevideopopup"><img src="/images/buttons/btn-strava.png" srcSet="/images/buttons/btn-strava.png 1x, /images/buttons/btn-strava@2x.png 2x" alt="Connect with Strava"/></a><a href="/signup?r=modal-suuntohomevideopopup" data-tclick="signup|click|suunto|homevideopopup"><img src="/images/buttons/btn-suunto-black.png" srcSet="/images/buttons/btn-suunto-black.png 1x, /images/buttons/btn-suunto-black@2x.png 2x" alt="Connect with Suunto"/></a><a href="/signup?r=modal-underarmourhomevideopopup" data-tclick="signup|click|underarmour|homevideopopup"><img src="/images/buttons/btn-mmride-inv.png" srcSet="/images/buttons/btn-mmride-inv.png 1x, /images/buttons/btn-mmride-inv@2x.png 2x" alt="Connect with MapMyRide"/></a><a href="/signup?r=modal-endomondohomevideopopup" data-tclick="signup|click|endomondo|homevideopopup"><img src="/images/buttons/btn-endomondo.png" srcSet="/images/buttons/btn-endomondo.png 1x, /images/buttons/btn-endomondo@2x.png 2x" alt="Connect with Endomondo"/></a><a href="/signup?r=modal-garminhomevideopopup" data-tclick="signup|click|garmin|homevideopopup"><img src="/images/buttons/btn-garmin.png" srcSet="/images/buttons/btn-garmin.png 1x, /images/buttons/btn-garmin@2x.png 2x" alt="Connect with Garmin"/></a><a href="/signup?r=modal-polarhomevideopopup" data-tclick="signup|click|polar|homevideopopup"><img src="/images/buttons/btn-polar-black.png" srcSet="/images/buttons/btn-polar-black.png 1x, /images/buttons/btn-polar-black@2x.png 2x" alt="Connect with Polar"/></a><a href="/signup?r=modal-healthkithomevideopopup" data-tclick="signup|click|healthkit|homevideopopup"><img src="/images/buttons/btn-healthkit.png" srcSet="/images/buttons/btn-healthkit.png 1x, /images/buttons/btn-healthkit@2x.png 2x" alt="Connect with Apple Health"/></a></div><script>
                            function showVideoModal() {
                                try { 
                                    trackEventServices("demo", "click", "show"); 
                                } catch (e) {
                                    console.error(e);
                                }
                                showModal($c("video-modal")[0]); 
                                playerInstance.ready(function() {
                                    playerInstance.play();
                                });
                            }
                            
                            var els = document.querySelectorAll ? document.querySelectorAll(".video-modal, .video-modal .modal-close") : [];
                            els.forEach(function (el) {
                                el.addEventListener("click", function () {
                                    playerInstance.pause();
                                });
                            });
                            </script></div></div></div></div><footer><div class="footer-content"><img src="/images/logo/logo-word-yellow.svg?v=1506271937617" class="logo"/><div class="list"><h3>Company</h3><ul><li><a href="/about">About</a></li><li><a href="/jobs">Jobs</a></li><li><a href="/press">Press</a></li></ul></div><div class="list"><h3>Useful Links</h3><ul><li><a href="/support">Support</a></li><li><a href="/contact">Contact</a></li><li><a href="/shop" target="_blank">Shop</a></li><li><a href="/club">Club</a></li></ul></div><div class="right-block"><div class="social-buttons"><a href="https://www.facebook.com/relivecc" target="_blank"><span class="fa fa-facebook"></span></a><a href="https://www.twitter.com/relivecc" target="_blank"><span class="fa fa-twitter"></span></a><a href="https://www.instagram.com/relivecc" target="_blank"><span class="fa fa-instagram"></span></a></div><a href="" class="toggler" data-toggle-target="language-modal" data-toggle-class="hidden"><div class="selected-language"><span class="icon fa fa-globe"></span><p>English</p><img srcSet="/images/icons/btn-back.png 1x, /images/icons/btn-back@2x.png 2x" class="btn-back"/></div></a></div><div class="legal-footer"><ul><li><a href="/map-attribution" rel="nofollow">Maps</a></li><li><a href="/privacy" rel="nofollow">Privacy</a></li><li><a href="/terms" rel="nofollow">Terms</a></li></ul><ul><li><span>© 2019 Relive B.V.</span></li></ul></div></div><div class="modal language-modal hidden"><div class="modal-table table"><div class="modal-cell table-cell"><div class="modal-content"><div class="modal-header"><a href="#" class="modal-close"></a></div><div class="language-modal-title">Select your language</div><div class="language-options"><ul class="language-list"><li><div class="language-option">
                    <a href='?hl=cs' onClick='return selectLanguage("cs")'>
                            <p>Čeština</p>
                    </a>
                </div></li><li><div class="language-option">
                    <a href='?hl=da' onClick='return selectLanguage("da")'>
                            <p>Dansk</p>
                    </a>
                </div></li><li><div class="language-option">
                    <a href='?hl=de' onClick='return selectLanguage("de")'>
                            <p>Deutsch</p>
                    </a>
                </div></li><li><div class="language-option">
                    <a href='?hl=en' onClick='return selectLanguage("en")'>
                            <p><u><strong>English</strong></u></p>
                    </a>
                </div></li><li><div class="language-option">
                    <a href='?hl=es' onClick='return selectLanguage("es")'>
                            <p>Español</p>
                    </a>
                </div></li><li><div class="language-option">
                    <a href='?hl=fr' onClick='return selectLanguage("fr")'>
                            <p>Français</p>
                    </a>
                </div></li></ul><ul class="language-list middle-list"><li><div class="language-option">
                    <a href='?hl=it' onClick='return selectLanguage("it")'>
                            <p>Italiano</p>
                    </a>
                </div></li><li><div class="language-option">
                    <a href='?hl=id' onClick='return selectLanguage("id")'>
                            <p>Indonesia</p>
                    </a>
                </div></li><li><div class="language-option">
                    <a href='?hl=nl' onClick='return selectLanguage("nl")'>
                            <p>Nederlands</p>
                    </a>
                </div></li><li><div class="language-option">
                    <a href='?hl=pl' onClick='return selectLanguage("pl")'>
                            <p>Polski</p>
                    </a>
                </div></li><li><div class="language-option">
                    <a href='?hl=pt-BR' onClick='return selectLanguage("pt-BR")'>
                            <p>Português brasileiro</p>
                    </a>
                </div></li><li><div class="language-option">
                    <a href='?hl=sv' onClick='return selectLanguage("sv")'>
                            <p>Svenska</p>
                    </a>
                </div></li></ul><ul class="language-list"><li><div class="language-option">
                    <a href='?hl=th' onClick='return selectLanguage("th")'>
                            <p>ไทย</p>
                    </a>
                </div></li><li><div class="language-option">
                    <a href='?hl=zh-CN' onClick='return selectLanguage("zh-CN")'>
                            <p>中文 ( 简体 )</p>
                    </a>
                </div></li><li><div class="language-option">
                    <a href='?hl=zh-TW' onClick='return selectLanguage("zh-TW")'>
                            <p>中文 ( 漢語 )</p>
                    </a>
                </div></li><li><div class="language-option">
                    <a href='?hl=ko' onClick='return selectLanguage("ko")'>
                            <p>한국어</p>
                    </a>
                </div></li><li><div class="language-option">
                    <a href='?hl=ja' onClick='return selectLanguage("ja")'>
                            <p>日本語</p>
                    </a>
                </div></li></ul></div></div></div></div></div><script>(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
                            (i[r].q = i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                            })(window,document,"script","//www.google-analytics.com/analytics.js","ga");</script><script>
                        function selectLanguage(langCode) {
                            var url = window.location.href;
                            url = url.replace(/[?&]hl=.*?(?=&|#|$)/ig, '');
                            var seperator = (url.indexOf("?") === -1) ? "?" : "&";
                            window.location = url + seperator + "hl=" + langCode;
                            return false;
                        }
                    </script><script>(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
                p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
                };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
                n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script","/javascripts/sp.js?v=1506271937637","sp"));</script><script src="/javascripts/tscripts.js?v=1555318650127"></script><script src="/javascripts/main.js?v=1559309931521"></script><script>var stInfo = {"hl":"en","country":"US"};</script><script>setTinfo(stInfo);
                        if(tinfo.uid_long || tinfo.uid_long_guess) {
                            document.body.className += " maybe-user";
                        }

                        if (stInfo.experiment) {
                            setVariation(stInfo.experiment.id, stInfo.experiment.variation);
                        }
                    </script><script>
                    if (typeof(replace_history) === "string") {
                        initGA(location.pathname+location.search);
                        if(history && history.replaceState) {
                            history.replaceState({}, "", replace_history);
                        }
                    } else {
                        initGA();
                    }</script></footer><script src="/javascripts/appstore_redirect.js?v=1520430648533"></script></body></html>